{% extends "admin/base_site.html" %}
{% load i18n static admin_urls admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Главная</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
&rsaquo; Изменить пароль
</div>
{% endblock %}

{% block title %}Изменить пароль: {{ original|truncatewords:"18" }} | {{ site_title|default:"Django site admin" }}{% endblock %}

{% block content %}<div id="content-main">

<form method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}
<div>

{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}Пожалуйста, исправьте ошибку ниже.{% else %}Пожалуйста, исправьте ошибки ниже.{% endif %}
    </p>
{% endif %}

<p>Введите новый пароль для пользователя <strong>{{ original }}</strong>.</p>

<fieldset class="module aligned">

{% for field in form %}
{% if field.name != 'usable_password' %}
<div class="form-row field-{{ field.name }}">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}<div class="help"{% if field.id_for_label %} id="{{ field.id_for_label }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
</div>
{% endif %}
{% endfor %}

</fieldset>

<div class="submit-row">
    <input type="submit" value="Изменить пароль" class="default" name="_save">
</div>

<script id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}"
        {% if adminform and add %}data-model-name="{{ opts.model_name }}"{% endif %} async>
</script>

</div>
</form></div>
{% endblock %}